.logo-text {
  font-size: 36px;
  color: white;
}

.logo {
  display: inline-block;
  float: left;
}

.title {
  color: white;
}

.right-menu {
  vertical-align: 100%;
}

.nav-item a {
  color: white;
  margin: 0 5px;
}

.main {
  height: 100%;
  padding: 180px; 
  margin: 0;
  background-image: url("../img/title_background.jpg");
}

footer {
  background-color: #e3e3e3;
  color: black;
  padding: 30px 0;
}